* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black 0%, black 130px, #d9dbd5 60%, #d9dbd5 100%);
}

.container {
    position: relative;
    width: 1396px;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    padding: 0%;
}

.container .leftside {
    position: relative;
    width: 30%;
    background: #fff;
    border-right: 1px solid rgba(54, 47, 47, 0.06);
}

.container .rightside {
    position: relative;
    width: 70%;
    background: #e5ddd5;
}

.container .rightside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(background.png);
    opacity: 0.05;
}

.chat-header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.reciever-details {
    display: flex;
    flex-direction: row;
}

.reciever-details div {
    padding: 5px 5px;
}

.reciever-name {
    color: black;
    margin-top: 5px;
}

.user-profile {
    position: relative;
    width: 100%;
    height: 200px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.user-name {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-shadow: 0 0 black;
    font-size: xx-large;
}

.header-icon {
    display: flex;
}

.header-icon li {
    display: flex;
    list-style: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #51585c;
    margin-left: 22px;
}

.search-chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search-chat div {
    width: 100%;
}

.search-chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search-chat div input::placeholder {
    color: #bbb;
}

.search-chat div svg {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.chat-list {
    height: calc(100% - 110px) !important;
    overflow-y: scroll;
}

.chat-list .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.chat-list .block:hover {
    background: #f5f5f5
}

.chat-list .block .details {
    position: relative;
    width: 100%;
}

.chat-list .block .details .list {
    display: flex;
    justify-content: space-between;
}

.chat-list .block .details .list h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.setting-bottom {
    position: absolute;
    background: #ededed;
    height: 50px;
    width: 100%;
    bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chat-bottom {
    position: absolute;
    background: #ededed;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.msg-input {
    width: 100%;
    background: #ededed;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.msg-input svg {
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.msg-input svg:nth-child(1) {
    margin-right: 15px;
}

.msg-input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.logout-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #51585c;
    margin-right: 20px;
}

.contact-form-box {
    background-color: white;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
}

.register-contact-display {
    font-size: small;
    color: #1fb43f;
}

.invited-contact-display {
    font-size: small;
    color: red;
}

.contact-display {
    font-size: small;
    color: #51585c;
}

.invite-box {
    background-color: white;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 300px;
    height: 350px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
}

.send-disable {
    pointer-events: none
}

.chat-box {
    position: relative;
    width: 100%;
    height: calc(100% - 110px);
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p {
    font-size: 0.9em;
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 10px;
    background: #111;
    color: #e5ddd5;
    border-radius: 10px;
}

.message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #111 0%, #111 50%, transparent 50%, transparent);
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_msg {
    justify-content: flex-end;
}

.frnd_msg {
    justify-content: flex-start;
}

.frnd_msg p {
    background-color: #fff;
    color: black;
    text-align: left;
}

.frnd_msg p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.empty-box {
    background-color: white;
    position: relative;
    top: 20%;
    left: 35%;
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
}

.empty-box div{
    margin-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.loader{
    margin-top: 250px;
    text-align: center;
}